#http-error {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#http-error .error-box {
    text-align: center;
}

#http-error .error-box h1 {
    font-size: 5em;
    color: var(--s-purple);
}

#http-error .error-box p {
    font-size: 2em;
}